#top{
	background-color:orange;
	position:relative;
	float:top;
	height:10%;
	width:100%;
}
marquee{
	font-size:30px;
	color:blue;
}
#left{
	position:relative;
	float:left;
	height:90%;
	width:10%;
	background-color:green;
}
#right{
	position:relative;
	float:right;
	 height:90%;
	 width:90%;
	 background-color:#00ffff
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:#ff8000
}
a:hover{
	color:	#ff0000
}
